PORT=4000

JWT_SECRET=
JWT_EXPIRES_IN="1d"

DATABASE_URL=

# MAIL
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

MAIL_FROM="no-reply@premiumlawfirm.com"

ACCESS_TOKEN_SECRET="premium_law_firm_access_token_secret_key_2026"
REFRESH_TOKEN_SECRET="premium_law_firm_refresh_token_secret_key_2026"

CLIENT_URL="http://localhost:3000,http://localhost:4000"